
* {
    margin: 0;
    padding: 0;
    
}
body {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
    
}

nav{    
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

ul {
    list-style-type: none;
    display: flex;
    align-items:center; 
    
    }
ul li {
    
    
    padding: 5px;
    
    
}


#acceder {
    color: white;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: 'Google Sans','Roboto,RobotoDraft',Helvetica,Arial,sans-serif;
    padding: 7px;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    

}
main {
margin-top: 35px;
}

main div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 45%;
    padding: 8px;

}

.imagen {
    width: 20%;
}

.busqueda {
    display: flex;
    padding: 5px ;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    width: 33%;
    
    border-radius: 25px;
        
}

.botones{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    padding: 8px;
    
    margin-right: 10px;
    border: 1px

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #f2f2f2;
    margin-top: auto;
}

#pais {
    text-align: left;
    padding: 15px 30px;
    font-size: 15px;
    
}
.piedepagina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.partes{
    display: flex;
}

.partes p {
    padding: 15px;
    font-size: 15px;
}