* {
    margin: 0;
    padding: 0;
    
}
body {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    
}

nav{    
    display: flex;
    flex-direction: column;
    
    }

.botonesNav {
    display: flex;
    
    padding: 15px;
    padding-bottom: 15px;
    
    justify-content: flex-end;
    flex-basis: auto;

    
}
.botonesNav p {
    padding: 15px;
}

main {
display: flex;
flex-direction: column;
margin-top: 35px;
flex: 1;



}

main div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 45%;
    padding: 8px;

}

.imagen {
    width: 20%;
}

.busqueda {
    display: flex;
    padding: 5px ;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    width: 33%;
    
    border-radius: 25px;
        
}

.botones{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    padding: 8px;
    
    margin-right: 10px;
    border: 1px

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #f2f2f2;
}

#pais {
    text-align: left;
    padding: 15px 30px;
    
}
.piedepagina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.partes{
    display: flex;
}

.partes p {
    padding: 15px;
    font-size: 15px;
}